article ul ul {
    list-style-type:  circle !important;
}

article ul ul ul {
    list-style-type:  square !important;
}

@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;
}

.md-sidebar--primary {
    display: none;
}

.md-header-nav__button {
    display: none;
}
